<!DOCTYPE html>
<html>
<head>
    <title>Kapcsolat</title>
</head>
<body>
    <div class="container">
        <h1>Kapcsolat</h1>
        <p>
            Üdvözlünk a kapcsolati oldalon! Ha kérdéseid vagy észrevételeid vannak, kérjük, lépj kapcsolatba velünk az alábbi elérhetőségek valamelyikén:
        </p>
        <ul>
            <li>Email: infopeldaoldal.hu</li>
            <li>Telefon: +36 1 234 5678</li>
            <li>Cím: 1234 Példa utca 56.</li>
        </ul>
        <p>
            Várjuk érdeklődésed, és igyekszünk mielőbb válaszolni minden megkeresésre!
        </p>
    </div>
</body>
</html>
